/*------------------------------------------------------------------
[Master Stylesheet]

Project:       La Delicia - Launch X Kata Semana 2

Author:          Emmanuel Hernández
Website:         www.jeemdev.com
First Color:     #f8f2ee;
Second Color:    #2e2523;
Third Color:     #9c7e6f;
Fourth Color:    #e02340; 
Fifth Color:     #DECBBA;        
Version:         1.0
main-font:       'Raleway', sans-serif
Headers:         'Noto Serif Pro', sans-serif

-------------------------------------------------------------------*/

/*------------------------------------------------------------------
[Table of contents]

A. GLOBAL
    1. ROOT
    2. GLOBAL STYLES
    3. GLOBAL TEXTS
    4. GLOBAL BUTTONS
    5. GLOBAL ICONS

B. HTML ELEMENTS STYLING
    1. SECTION
    3. HEADER

C. SECTIONS (CUSTOM CLASSES & IDs)
    1. 
-------------------------------------------------------------------*/


/*=============================================
=         START SECTION | A. GLOBAL           =
=============================================*/

/*----------  START SUBSECTION | ROOT  ----------*/
/*-- GOOGLE FONTS --*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600;800;900&display=swap');

/*-- VARIABLES CSS --*/
:root {
    /*-- /Header Height --*/
    --header-height: 3.5rem;

    /*-- /Font Family --*/
    --font_family-body : 'Raleway', sans-serif;
    --font_family-title: 'Noto Serif Display', serif;

    /*-- /Font Sizes --*/
    --font_size-h1     : 1.5em;
    --font_size-h2     : 1.25em;
    --font_size-h3     : 1em;
    --font_size-biggest: 2em;
    --font_size-normal : .938em;
    --font_size-small  : .813em;
    --font_size-smaller: .75em;

    /*-- /Font Weight/ --*/
    --font_weight-bolder  : 900;
    --font_weight-semibold: 600;
    --font_weight-medium  : 500;

    /*-- /Colors/ --*/
    --color_first : #f8f2ee;
    --color_second: #977962;
    --color_third : #e02340;
    --color_text  : #2e2523;

    /*-- /Background Colors/ --*/
    --color_body: linear-gradient(100deg,
            hsl(20deg 100% 99%) 0%,
            hsl(20deg 100% 99%) 3%,
            hsl(20deg 100% 99%) 7%,
            hsl(20deg 100% 99%) 12%,
            hsl(20deg 100% 99%) 18%,
            hsl(20deg 86% 99%) 25%,
            hsl(20deg 76% 97%) 34%,
            hsl(20deg 73% 96%) 43%,
            hsl(19deg 71% 94%) 53%,
            hsl(19deg 70% 93%) 63%,
            hsl(21deg 69% 93%) 73%,
            hsl(23deg 66% 94%) 82%,
            hsl(25deg 63% 96%) 90%,
            hsl(28deg 59% 97%) 96%,
            hsl(30deg 50% 99%) 100%);
    --color_container: linear-gradient(136deg, hsl(43, 73%, 96%) 0%, hsl(49, 86%, 93%) 100%);

    /*-- /Margins/ --*/
    --mrl_1_5: 1.5rem;
    --mb_2_5 : 2.5rem;
    --mb_2   : 2rem;
    --mb_1_5 : 1.5rem;
    --mb_1   : 1rem;
    --mb_0-75: .75rem;
    --mb_0-25: .25rem;
    --mb_0-5 : .5rem;

    /*-- /Z-Index/ --*/
    --z-behind : -10;
    --z-tooltip: 10;
    --z-fixed  : 100;
}

/*-- RESPONSIVE TIPOGRAPHY --*/
@media screen and (min-width: 992px) {
    :root {
        --font_size-h1     : 2.25em;
        --font_size-h2     : 1.5em;
        --font_size-h3     : 1.25em;
        --font_size-biggest: 4em;
        --font_size-normal : 1em;
        --font_size-small  : .875em;
        --font_size-smaller: .813em;
    }
}

/*----------  START SUBSECTION | GLOBAL STYLES   ----------*/
* {
    margin            : 0;
    padding           : 0;
    -webkit-box-sizing: border-box;
    box-sizing        : border-box;
    outline           : none;
    border            : none;
    text-decoration   : none;
    -webkit-transition: .3s;
    transition        : .3s;
}

html {
    overflow-x        : hidden;
    scroll-behavior   : smooth;
    scroll-padding-top: 5rem;
}

html::-webkit-scrollbar {
    width: .5rem;
}

html::-webkit-scrollbar-track {
    background-color: var(--color_first);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--color_fourth);
}

body {
    font-family: var(--font_family-body);
    font-size  : var(--font_size-normal);
    background : var(--color_body);
    color      : var(--color_text);
}

header {
    padding        : 3rem 0;
    display        : inline-flex;
    align-items    : center;
    justify-content: space-around;
}

h1,
h2,
h3,
h4 {
    color      : var(--color_text);
    font-family: var(--font_family-title);
}

p {
    font-size  : var(--font_size-normal);
    font-weight: var(--font_weight-medium);
    line-height: 1.8em;
}

a,
a:visited,
a:hover,
a:active {
    color: inherit;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height   : auto;
}

button,
input {
    border : none;
    outline: none;
}

button {
    cursor     : pointer;
    font-family: var(--font_family-body);
    font-size  : var(--font_size-normal);
}

/*============ FOOTER SECTION |  A. Global  =========*/


/*=============================================
=  START SECTION | B. HTML ELEMENTS STYLING   =
=============================================*/

/*----------  START SUBSECTION | REUSABLE CSS CLASSES & IDs   ----------*/
.body__margin {
    margin: var(--header-height) 0 0 0;
}

/*-- /Sections/ --*/
.section {
    padding: 5rem 10%;
}

.section__title {
    font-size    : var(--font_size-h1);
    margin-bottom: var(--mb_2);
    text-align   : center;
}

/*-- /Buttons/ --*/
.buttons {
    z-index: var(--z-tooltip)
}

.button {
    position        : relative;
    cursor          : pointer;
    padding         : 1.2rem .2rem;
    text-transform  : uppercase;
    font-weight     : 600;
    color           : var(--color_text);
    border          : 2px solid transparent;
    background-color: var(--color_first);
    border-radius   : 50px;
}

.button:hover {
    background-color: var(--color_first);
    color           : var(--color_fourth);
    border          : 2px solid var(--color_third);
}

.button__icon {
    z-index : -1;
    position: absolute;
    top     : -8px;
    right   : -50px;
    width   : 65px
}

/*----------  START SUBSECTION | LAYOUT   ----------*/
.container {
    max-width   : 968px;
    margin-left : var(--mrl_1_5);
    margin-right: var(--mrl_1_5);
}

.grid {
    display: grid;
}

.main {
    /*-- For Animations --*/
    overflow: hidden;

}

/*=====  END OF SECTION HTML B. ELEMENTS STYLING  ======*/


/*=============================================
=   START SECTION | C. CUSTOM CLASSES & IDs   =
=============================================*/

/***********  PAGE START | SELECTION   ***********/
video {
    z-index   : var(--z-behind);
    position  : absolute;
    top       : 0;
    left      : 0;
    width     : 100%;
    height    : 100%;
    object-fit: cover;
    overflow  : hidden;
}

.selection__overlay {
    z-index         : -5;
    position        : absolute;
    top             : 0;
    left            : 0;
    height          : 100%;
    width           : 100%;
    background-color: var(--color_first);
    opacity         : 0.9;
}

.selection__img-bg {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 30%;
    z-index : -1;
}

.selection {
    gap            : 2em 0;
    text-align     : center;
    justify-content: center;
    align-content  : center;
}

.selection__img-isotype {
    max-width    : 310px;
    justify-self : center;
    margin-top: 7rem;
    margin-bottom: 12rem;
}

.selection__title {
    font-size    : 3.2em;
    margin-bottom: var(--mb_0-75);
}

.selection__subtitle {
    font-size    : var(--font_size-h2);
    margin-bottom: var(--mb_2_5);
}

.selection__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
}

.selection__button {
    background-color: var(--color_first);
    border          : 2px solid transparent;
    border-radius   : 50px;
    padding: 1rem 2rem;
}

.selection__button:hover {
    border-radius: 50px;
    color        : var(--text_font-text);
}

/***********  PAGE END | SELECTION   ***********/


/*----------  START SUBSECTION | HEADER   ----------*/
.header__container {
    width        : 100%;
    padding      : 0;
    border-bottom: 1px solid var(--color_third);
}

.header__container .header__logo img {
    max-width: 30%;
}

.header__container .header__nav ul {
    display        : flex;
    list-style-type: none;
    margin-right   : -10rem;

}

.header__container .header__nav ul li {
    margin-right  : 3rem;
    font-size     : 16px;
    font-weight   : 500;
    text-transform: uppercase;
    color         : var(--color_text);
}

.header__container .header__nav ul li:after {
    content  : "\2022";
    font-size: 2rem;
    color    : #e02340;
    position : relative;
    top      : .3rem;
    right    : -1.5rem;
}

.header__container .header__nav ul li:last-child:after {
    content: "";
}

.header__container .header__nav ul li:hover {
    color: var(--color_fourth);
}


.header__container .header__cart:hover i,
.header__container .header__cart:hover button {
    color: var(--color_fourth);
}

.header__container .header__cart i {
    color: var(--color_text);
}

.header__container .header__cart button {
    font-size   : 16px;
    font-weight : 500;
    margin-right: 0rem;
}

/*----------  END SUBSECTION | HEADER     ----------*/

/*----------  START SUBSECTION | CLIENT Hero   ----------*/
.client__hero {
    width            : 100vw;
    height           : 100vh;
    background-image : url(/assets/img/cliente-hero.png);
    background-size  : contain;
    background-repeat: no-repeat;
}

.client__hero .client__wrapper {
    position : absolute;
    top      : 50%;
    left     : 10%;
    transform: translate(0, -50%)
}

.client__hero .client__wrapper h1 {
    font-size    : 135px;
    margin-bottom: 2rem;
}

.client__hero .client__wrapper p {
    max-width    : 40%;
    margin-bottom: 3rem;
}

.client__wrapper a {
    z-index : 10;
    position: absolute;
}

/*----------  END SUBSECTION | CLIENT HERO  ----------*/

/*=====  END OF SECTION C. SECTIONS (CUSTOM CLASSES & IDs)   ======*/